@font-face {
	font-family: Quantify;
	src: url('quantify.ttf');
}

@font-face {
	font-family: Adam;
	src: url('adam.otf')
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.cleaner {
	clear: both;
}

body {
	font-family: 'Adam';
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #FFF;
}

img {
	max-width: 100%;
}

#wrapper {
	position: relative;
	width: 100%;
	background-image: url('../Images/X-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.wrapperWhite {
	background-color: #FFF;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Header */

#header {
	width: 100%;
	height: 450px;
	position: relative;
	top: 0px;
	background-image: url('../Images/header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#navigation {
	width: 15%;
	height: 45px;
	position: fixed;
	left: 42.5%;
	top: 0px;
	border-radius: 0px 0px 15px 15px;
	background-color: #252525;
	z-index: 1;
}

#navigation ul {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

#navigation ul li a {
	font-size: 20px;
	padding: 13px;
	color: #E2E2E2;
	transition: 0.5s ease-in-out;
}

#firstLi a {
	border-bottom-left-radius: 15px;
}

#lastLi a {
	border-bottom-right-radius: 15px;
}

#navigation ul li a:hover {
	background-color: #464646;
}

#logo {
	position: absolute;
	top: 70px;
	left: 150px;
}

#socialNav {
	width: 100%;
	height: 53px;
	background-color: #252525;
	opacity: 0.9;
	position: absolute;
	bottom: 0px;
}

#socialNav ul {
	margin: 0px auto;
	width: 35%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#socialNav ul li {
	margin-bottom: 2px;
}

#socialNav ul li a {
	width: 50px;
	height: 50px;
	font-size: 28px;
	padding: 13px;
	overflow: hidden;
	transition: 0.5s ease-in-out;
}

#socialNav ul li a:hover {
	background-color: #464646;
}

/* Main */
 
#main {
	width: 100%;
}

/* Slider */

.sectionHor {
 	width: 95%;
 	margin: 0px auto;
 	display: flex;
 	justify-content: space-between;
 }

 #miniGallery {
 	width: 100%;
 	height: 533px;
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: space-around;
 	align-items: center;
 }

 .miniImage {
 	width: 30%;
 	height: 45%;
 	background-image: url('../Images/miniImages.jpg');
 	background-size: cover;
 	background-repeat: no-repeat;
 	transition: 0.4s ease-in-out;
 }

 #miniTwo {
 	background-position: -600px;
 }

#miniThree {
 	background-position: -1200px;
 }

#miniFour {
 	background-position: -1800px;
 }

#miniFive {
 	background-position: -2400px;
 }

#miniSix {
 	background-position: -3000px;
 }
 
.overlay {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #B7B7B7;
	font-size: 24px;
	padding-top: 110px;
	opacity: 0;
	transition: 0.4s ease-in-out;
}

.miniImage:hover {
	box-shadow: 0px 7px 30px #222222;
}

.miniImage:hover > .overlay {
	opacity: 1;
	background-color: rgba(10, 10, 10, 0.7);
}


 .down {
 	padding-top: 30px;
 	padding-bottom: 80px;
 	text-align: center;
 	flex-wrap: wrap;
 }

 .miniNaslov {
 	width: 100%;
 	margin-bottom: 45px;
 	font-size: 30px;
 }

#miniCircleHold {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
}

 .miniCircle {
 	width: 250px;
 	height: 250px;
 	border-radius: 50%;
 	box-shadow: 0px 0px 50px #232323;
 }

 .overlayCircle {
 	width: 100%;
	height: 100%;
	text-align: center;
	color: #E4E4E4;
	font-size: 50px;
	padding-top: 55px;
	opacity: 0;
	transition: 0.4s ease-in-out;
 }

 .overlayCircle h5 {
 	font-size: 32px;
 }

.miniCircle:hover > .overlayCircle {
 	opacity: 1;
 }

 #model1 {
	background-image: url('../Images/model1.jpg');
}

#model2 {
	background-image: url('../Images/model2.jpg');	
}

#model3 {
	background-image: url('../Images/model3.jpg');	
}

#model1, #model2, #model3 {
	background-repeat: no-repeat;
	background-size: cover;
}

#model1 {
	background-position: -35px;
}

#model2 {
	background-position: 0px -45px;
}

#model3 {
	background-position: 0px -5px;
}

 .midSection {
 	width: 100%;
 	height: 500px;
 	background-color: rgba(50, 50, 50, 0.7);
 	padding: 50px;
 	display: flex;
 	justify-content: space-around;
 }

.doubleArticle {
	width: 35%;
	height: 70%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px;
	font-size: 20px;
	padding-top: 20px;
	border-radius: 3px;
	display: flex;
	align-items: center;
}

.rightAr {
	align-self: flex-end;
}

#footer {
	width: 100%;
	height: 150px;
	background-color: #252525;
	display: flex;
	justify-content: space-around;
}

.footerBlock {
	width: 33%;
	height: inherit;
	color: #c2c2c2;
	border-right: 1px solid rgba(194, 194, 194, 0.3);
}

.footerBlock:last-child {
	border-right: none;
}

.footerBlock ul {
	height: inherit;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}

#galleryWrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 97%;
	padding: 10px;
	margin: 0px auto;
}

.gCategory {
	width: 100%;
}

.gHeader {
	width: 30%;
	text-align: center;
	font-size: 36px;
	padding-top: 25px;
	margin-bottom: 20px;
	border-bottom: 1px solid #000;
}

.galleryHolder {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.slikaG {
	margin-bottom: 20px;
}

.slikaG img {
	box-shadow: 0px 7px 30px #222222;
}

/*@media screen and (max-width: 1500px) {
	.responsive {
		display: none;
	}
}*/


#contactHold {
	width: 90%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0px auto;
	padding: 25px;
}

.kontaktClass {
	width: 50%;
	height: 50%;
}

.kontaktClass ul li {
	font-size: 36px;
	margin-top: 35px;
}

#kontaktMail {
	width: 50%;
	-webkit-height: 50%;
	-moz-height: 55%;
	padding: 5px;
	margin-top: 7px;
}

#kontaktMail form table {
	font-size: 28px;
}

#kontaktMail form table tr td input {
	font-size: 22px;
}


#kontaktMail form table tr td input[type="submit"], #kontaktMail form table tr td input[type="reset"]  {
	font-size: 24px;
	padding: 20px;
	box-shadow: 0px 1px 10px #222222;
}


#kontaktMail form table tr td textarea {
	font-size: 24px;
}