@font-face {
  font-family: Quantify;
  src: url('quantify.ttf');
}
@font-face {
  font-family: Adam;
  src: url('adam.otf');
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.cleaner {
  clear: both;
}
body {
  font-family: 'Adam';
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}
#wrapper {
  position: relative;
  background-image: url('../Images/X-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.wrapperWhite {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
#header {
  width: 100%;
  height: 450px;
  position: relative;
  top: 0px;
  background-image: url('../Images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#navigation {
  width: 15%;
  height: 45px;
  position: fixed;
  left: 42.5%;
  top: 0px;
  border-radius: 0px 0px 15px 15px;
  background-color: #252525;
  z-index: 1;
}
#navigation ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#navigation ul li a {
  font-size: 20px;
  padding: 13px;
  color: #e2e2e2;
  transition: 0.5s ease-in-out;
}
#navigation ul li a:hover {
  background-color: #464646;
}
#firstLi a {
  border-bottom-left-radius: 15px;
}
#lastLi a {
  border-bottom-right-radius: 15px;
}
#logo {
  position: absolute;
  top: 70px;
  left: 150px;
}
#socialNav {
  width: 100%;
  height: 53px;
  background-color: #252525;
  opacity: 0.9;
  position: absolute;
  bottom: 0px;
}
#socialNav ul {
  margin: 0px auto;
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#socialNav ul li {
  margin-bottom: 2px;
}
#socialNav ul li a {
  width: 50px;
  height: 50px;
  font-size: 28px;
  padding: 13px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
#socialNav ul li a:hover {
  background-color: #464646;
}
#main {
  width: 100%;
}
.sectionHor {
  width: 95%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
#miniGallery {
  width: 100%;
  height: 533px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.miniImage {
  width: 30%;
  height: 45%;
  background-image: url('../Images/miniImages.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.4s ease-in-out;
}
.miniImage:hover {
  box-shadow: 0px 7px 30px #222222;
}
.miniImage:hover > .overlay {
  opacity: 1;
  background-color: rgba(10, 10, 10, 0.7);
}
#miniTwo {
  background-position: -600px;
}
#miniThree {
  background-position: -1200px;
}
#miniFour {
  background-position: -1800px;
}
#miniFive {
  background-position: -2400px;
}
#miniSix {
  background-position: -3000px;
}
.overlay {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #b7b7b7;
  font-size: 24px;
  padding-top: 110px;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.down {
  padding-top: 30px;
  padding-bottom: 80px;
  text-align: center;
  flex-wrap: wrap;
}
.miniNaslov {
  width: 100%;
  margin-bottom: 45px;
  font-size: 30px;
}
#miniCircleHold {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.miniCircle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 0px 50px #232323;
}
.miniCircle:hover > .overlayCircle {
  opacity: 1;
}
.overlayCircle {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #e4e4e4;
  font-size: 50px;
  padding-top: 55px;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.overlayCircle h5 {
  font-size: 32px;
}
#model1 {
  background-image: url('../Images/model1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -35px;
}
#model2 {
  background-image: url('../Images/model2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -45px;
}
#model3 {
  background-image: url('../Images/model3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -5px;
}
.midSection {
  width: 100%;
  height: 500px;
  background-color: rgba(50, 50, 50, 0.7);
  padding: 50px;
  display: flex;
  justify-content: space-around;
}
.doubleArticle {
  width: 35%;
  height: 70%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  font-size: 20px;
  padding-top: 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.rightAr {
  align-self: flex-end;
}
#footer {
  width: 100%;
  height: 150px;
  background-color: #252525;
  display: flex;
  justify-content: space-around;
}
.footerBlock {
  width: 33%;
  height: inherit;
  color: #c2c2c2;
  border-right: 1px solid rgba(194, 194, 194, 0.3);
}
.footerBlock:last-child {
  border-right: none;
}
.footerBlock ul {
  height: inherit;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
#galleryWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 97%;
  padding: 10px;
  margin: 0px auto;
}
.gCategory {
  width: 100%;
}
.gHeader {
  width: 30%;
  text-align: center;
  font-size: 36px;
  padding-top: 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}
.galleryHolder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.slikaG {
  margin-bottom: 20px;
}
.slikaG img {
  box-shadow: 0px 7px 30px #222222;
}
#contactHold {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px auto;
  padding: 25px;
}
.kontaktClass {
  width: 45%;
  height: 50%;
}
.kontaktClass ul li {
  font-size: 36px;
  margin-top: 35px;
}
#kontaktMail form table {
  font-size: 28px;
}
#kontaktMail form table tr td input {
  font-size: 22px;
}
#kontaktMail form table tr td input[type="submit"] {
  font-size: 24px;
  padding: 20px;
  box-shadow: 0px 1px 10px #222222;
}
#kontaktMail form table tr td input[type="reset"] {
  font-size: 24px;
  padding: 20px;
  box-shadow: 0px 1px 10px #222222;
}
#kontaktMail form table tr td textarea {
  font-size: 24px;
}
.responsiveIMG {
  max-width: 100%;
}
@media screen and (max-width: 1690px) {
  #navigation {
    width: 20%;
    left: 40%;
  }
  .slikaG {
    width: 30%;
  }
  .responsiveHide {
    display: none;
  }
}
@media screen and (max-width: 1020px) {
  .slikaG {
    width: 45%;
  }
  .gHeader {
    font-size: 24px;
  }
}
@media screen and (max-width: 1380px) {
  #navigation {
    width: 35%;
    left: 35%;
  }
  .doubleArticle {
    width: 45%;
    font-size: 18px;
    font-size: 16px;
  }
  .miniImage {
    width: 33%;
  }
  .miniImage:nth-child(n&+3) {
    display: block;
  }
  #miniOne {
    background-position: -50px;
  }
  #miniTwo {
    background-position: -650px;
  }
  #miniThree {
    background-position: -1320px;
  }
  #miniFour {
    background-position: -1920px;
  }
  #miniFive {
    background-position: -2550px;
  }
  #miniSix {
    background-position: -3100px;
  }
  .gHeader {
    font-size: 26px;
  }
  #contactHold {
    flex-direction: column;
    align-items: center;
  }
  .kontaktClass {
    width: 90%;
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 800px) {
  #logo {
    left: 20px;
  }
  #logo img {
    margin-top: 70px;
    width: 350px;
  }
  #navigation {
    width: 100%;
    left: 0px;
    border-radius: 0px;
  }
  #navigation ul {
    justify-content: space-around;
  }
  #navigation ul li a {
    border-radius: 0px;
  }
  #socialNav ul {
    justify-content: space-between;
  }
  .miniImage {
    width: 73%;
    margin-bottom: 20px;
  }
  .miniImage:nth-child(n&+3) {
    display: none;
  }
  .midSection {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  .doubleArticle {
    width: 90%;
    height: 45%;
    align-self: flex-start;
  }
  .rightAr {
    align-self: flex-end;
  }
  .footerResponsive {
    display: none;
  }
  .footerBlock {
    width: 50%;
  }
  .slikaG {
    width: 70%;
  }
  .gHeader {
    font-size: 24px;
  }
}
@media screen and (max-width: 640px) {
  #kontaktMail {
    display: none;
  }
  .kontaktClass ul li {
    font-size: 24px;
  }
}
